body {
  background: papayawhip;
}

.container{
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid;
}
.container div{
  border: 1px solid;
}
.a{
  width: 100%;
}



